---
apiVersion: 1
datasources:
  - name: {{ monitoring_grafana_prometheus_datasource_name }}
    uid: {{ monitoring_grafana_prometheus_datasource_uid }}
    type: prometheus
    access: proxy
    url: http://127.0.0.1:9090
    isDefault: false
    editable: false
    jsonData:
      httpMethod: POST
      prometheusType: Prometheus
      prometheusVersion: {{ monitoring_prometheus_version }}
      timeInterval: 15s
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: {{ monitoring_grafana_tempo_datasource_uid }}
